h1 {
    margin: .5rem 0;
}

figure {
    margin: 10px;
    width: 200px;
}

show {
    display: flex;
}

.container {
    margin-top: 10px;
}

.nav-link:hover, .router-link-active {
    color: #fff;
    background-color: #0275d8;
}

.show-poster {
    margin: 0 10px 10px 0;
}
